Repository annminn104/frontend-boilerplate, changes with the labels that .github/labeler.yml gives for each.
All labels: type: documentation, type: maintenance, type: packages, type: apps

.github/labeler.yml:

---
# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

'type: documentation':
  - changed-files:
      - any-glob-to-any-file: [.github/*, ./*.md]

'type: maintenance':
  - changed-files:
      - any-glob-to-any-file: .github/**/*

'type: packages':
  - changed-files:
      - any-glob-to-any-file: [./packages/**]

'type: apps':
  - changed-files:
      - any-glob-to-any-file: [./apps/**]

ci: enhance config
  .github/workflows/auto-merge-release.yml
Labels: type: maintenance

ci: update changeset
  .changeset/itchy-poems-warn.md
  packages/configs/browserslist-config/package.json
  packages/configs/commitlint-config/package.json
  packages/configs/eslint-config/package.json
  packages/configs/htmlhint-config/package.json
  packages/configs/jest-config/package.json
  packages/configs/lint-staged-config/package.json
  packages/configs/markdownlint-config/package.json
  packages/configs/postcss-config/package.json
  packages/configs/secretlint-config/package.json
  packages/configs/stylelint-config/package.json
  packages/configs/tsconfig-config/package.json
Labels: type: packages

ci: trigger build
  README.md
Labels: type: documentation

ci: update changeset config
  .changeset/config.json
Labels: none

ci: update version packages
  packages/configs/browserslist-config/package.json
  packages/configs/commitlint-config/package.json
  packages/configs/eslint-config/package.json
  packages/configs/htmlhint-config/package.json
  packages/configs/jest-config/package.json
  packages/configs/lint-staged-config/package.json
  packages/configs/markdownlint-config/package.json
  packages/configs/postcss-config/package.json
  packages/configs/secretlint-config/package.json
  packages/configs/stylelint-config/package.json
  packages/configs/tsconfig-config/package.json
Labels: type: packages

ci: config .npmrc
  .npmrc
Labels: none

ci: trigger build
  README.md
Labels: type: documentation

ci: config workspace monorepos
  .syncpackrc.cjs
  monorepo.code-workspace
Labels: none

ci: node version 20
  .nvmrc
  package.json
Labels: none

ci: update config
  .npmrc
Labels: none

ci: update config
  .npmrc
Labels: none

ci: update config
  .npmrc
Labels: none

ci: update config
  monorepo.code-workspace
  packages/configs/htmlhint-config/package.json
  packages/configs/jest-config/package.json
  packages/configs/lint-staged-config/package.json
  packages/configs/markdownlint-config/package.json
  packages/configs/postcss-config/package.json
  packages/configs/secretlint-config/package.json
  packages/configs/stylelint-config/package.json
  packages/configs/tsconfig-config/package.json
Labels: type: packages

ci: update config
  .npmrc
Labels: none

ci: update config
  .npmrc
Labels: none

ci: update config
  .npmrc
Labels: none

docs: update changelogs
  packages/configs/browserslist-config/CHANGELOG.md
  packages/configs/commitlint-config/CHANGELOG.md
  packages/configs/eslint-config/CHANGELOG.md
  packages/configs/htmlhint-config/CHANGELOG.md
  packages/configs/jest-config/CHANGELOG.md
  packages/configs/lint-staged-config/CHANGELOG.md
  packages/configs/markdownlint-config/CHANGELOG.md
  packages/configs/postcss-config/CHANGELOG.md
  packages/configs/secretlint-config/CHANGELOG.md
  packages/configs/stylelint-config/CHANGELOG.md
  packages/configs/tsconfig-config/CHANGELOG.md
Labels: type: packages

ci: update config
  .github/workflows/auto-merge-release.yml
  packages/configs/browserslist-config/package.json
  packages/configs/commitlint-config/package.json
  packages/configs/eslint-config/package.json
  packages/configs/htmlhint-config/package.json
  packages/configs/jest-config/package.json
  packages/configs/lint-staged-config/package.json
  packages/configs/markdownlint-config/package.json
  packages/configs/postcss-config/package.json
  packages/configs/secretlint-config/package.json
  packages/configs/stylelint-config/package.json
  packages/configs/tsconfig-config/package.json
Labels: type: maintenance, type: packages

ci: update config
  .npmrc
Labels: none

ci: update config
  .npmrc
Labels: none

docs: update checklist
  README.md
Labels: type: documentation

docs: update checklist
  README.md
Labels: type: documentation

chore: enhance structure
  apps/landing/.gitkeep
  apps/portal/.gitkeep
  monorepo.code-workspace
  packages/common/hooks/.gitkeep
  packages/common/services/.gitkeep
  packages/ui/.gitkeep
  packages/utils/.gitkeep
Labels: type: packages, type: apps

chore: enhance structure
  monorepo.code-workspace
Labels: none

chore: enhance structure
  monorepo.code-workspace
Labels: none

feat: init pkg ui
  packages/ui/.editorconfig
  packages/ui/CHANGELOG.md
  packages/ui/README.md
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/postcss.config.cjs
  packages/ui/src/components/button.tsx
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.ts
  packages/ui/src/styles/index.css
  packages/ui/tailwind.config.js
  packages/ui/tsconfig-build.json
  packages/ui/tsconfig.json
  packages/ui/tsconfig.node.json
  packages/ui/vite.config.ts
  pnpm-lock.yaml
Labels: type: packages

fix(landing): remove tsbuild info
  apps/landing/tsconfig.tsbuildinfo
Labels: type: apps

fix: ui
  packages/ui/src/components/form/index.tsx
  packages/ui/src/components/pagination/index.tsx
  packages/ui/src/components/sidebar/index.tsx
  pnpm-lock.yaml
Labels: type: packages

feat(landing): init landing with trpc react query prisma supabase
  apps/landing/prisma/schema.prisma
  apps/landing/src/app/admin/portfolio/page.tsx
  apps/landing/src/app/blog/[id]/page.tsx
  apps/landing/src/components/blog/PostDetail.tsx
  apps/landing/src/components/sections/Projects.tsx
  apps/landing/src/middleware.ts
  apps/landing/src/types/portfolio.ts
Labels: type: apps

fix(ui): add cn twmerge
  packages/ui/src/index.ts
  packages/ui/src/lib/utils.tsx
  pnpm-lock.yaml
  terminal
Labels: type: packages

fix: remove terminal file
  terminal
Labels: none

fix(turbo): pipeline
  apps/landing/package.json
  package.json
  turbo.json
Labels: type: apps

fix(landing): pre-install prisma generate
  apps/landing/package.json
Labels: type: apps

fix(landing): prisma move dev dependencies to dependencies
  apps/landing/package.json
  pnpm-lock.yaml
Labels: type: apps

fix(landing): config env
  apps/landing/.env.example
  apps/landing/.gitignore
  apps/landing/tsconfig.json
Labels: type: apps

fix(landing): dialog with packages
  apps/landing/components.json
  apps/landing/next.config.ts
  apps/landing/package.json
  apps/landing/src/components/blog/CreatePostButton.tsx
  apps/landing/src/components/blog/PostDetail.tsx
  apps/landing/src/components/ui/Dialog.tsx
  apps/landing/tsconfig.json
  packages/ui/components.json
  packages/ui/package.json
  packages/ui/src/components/accordion.tsx
  packages/ui/src/components/alert.tsx
  packages/ui/src/components/button.tsx
  packages/ui/src/components/dialog.tsx
  packages/ui/src/components/index.ts
  packages/ui/src/index.ts
  packages/ui/src/lib/index.ts
  packages/ui/tsconfig.json
  pnpm-lock.yaml
Labels: type: packages, type: apps

fix(turbo): config pipeline and upgrade version
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: none

fix(landing): revamp tsconfig and remove tailwind config
  apps/landing/src/app/api/webhooks/clerk/route.ts
  apps/landing/src/app/blog/[id]/page.tsx
  apps/landing/src/generated/client/default.d.ts
  apps/landing/src/generated/client/default.js
  apps/landing/src/generated/client/edge.d.ts
  apps/landing/src/generated/client/edge.js
  apps/landing/src/generated/client/index-browser.js
  apps/landing/src/generated/client/index.d.ts
  apps/landing/src/generated/client/index.js
  apps/landing/src/generated/client/package.json
  apps/landing/src/generated/client/runtime/edge-esm.js
  apps/landing/src/generated/client/runtime/edge.js
  apps/landing/src/generated/client/runtime/index-browser.d.ts
  apps/landing/src/generated/client/runtime/index-browser.js
  apps/landing/src/generated/client/runtime/library.d.ts
  apps/landing/src/generated/client/runtime/library.js
  apps/landing/src/generated/client/runtime/react-native.js
  apps/landing/src/generated/client/runtime/wasm.js
  apps/landing/src/generated/client/schema.prisma
  apps/landing/src/generated/client/wasm.d.ts
  apps/landing/src/generated/client/wasm.js
  apps/landing/src/lib/prisma.ts
  apps/landing/src/server/context.ts
  apps/landing/src/server/trpc.ts
  apps/landing/tailwind.config.mjs
  apps/landing/tsconfig.json
Labels: type: apps

fix(landing): update dependencies
  apps/landing/package.json
  pnpm-lock.yaml
Labels: type: apps

fix(landing): post fix
  apps/landing/src/components/blog/CommentList.tsx
  apps/landing/src/components/blog/PostDetail.tsx
Labels: type: apps
