Repository annminn104/frontend-boilerplate, changes with the labels that .github/labeler.yml gives for each.
All labels: type: documentation, type: maintenance, type: packages, type: apps

fix(landing): fix prisma
  apps/landing/src/lib/prisma.ts
Labels: type: apps

fix(landing): fix prisma build output
  apps/landing/package.json
  apps/landing/prisma/schema.prisma
Labels: type: apps

fix(landing): fix prisma build output
  apps/landing/prisma/schema.prisma
  apps/landing/src/server/routers/post.ts
Labels: type: apps

fix(landing): blog post prisma cline types
  apps/landing/src/components/blog/PostDetail.tsx
  apps/landing/src/server/routers/post.ts
  apps/landing/src/types/blog.ts
Labels: type: apps

fix(landing): prisma client generated
  apps/landing/.env.example
  apps/landing/.gitignore
  apps/landing/next.config.js
  apps/landing/prisma/schema.prisma
  apps/landing/src/components/blog/PostDetail.tsx
  apps/landing/src/lib/prisma.ts
  apps/landing/src/types/blog.ts
Labels: type: apps

fix(landing): tsconfig paths
  apps/landing/tsconfig.json
Labels: type: apps

fix(landing): blog trpc return list
  apps/landing/src/app/api/trpc/[trpc]/route.ts
  apps/landing/src/lib/prisma.ts
  apps/landing/src/server/routers/post.ts
Labels: type: apps

fix(landing): trpc prisma generate client
  apps/landing/src/lib/prisma.ts
Labels: type: apps

ci: config build vercel
  .npmrc
  apps/landing/next.config.js
  apps/landing/next.config.ts
  apps/landing/package.json
  apps/landing/tsconfig.json
  vercel.json
Labels: type: apps

fix: package change dependencies
  .npmrc
  apps/landing/package.json
  pnpm-lock.yaml
  vercel.json
Labels: type: apps

fix: remove vercel json
  vercel.json
Labels: none

fix: tailwind path import
  apps/landing/next.config.ts
  apps/landing/src/app/globals.css
  apps/landing/src/app/layout.tsx
  apps/landing/tsconfig.json
Labels: type: apps

fix(landing): revamp app
  .gitignore
  apps/landing/.gitignore
  apps/landing/package.json
  apps/landing/prisma/schema.prisma
  apps/landing/src/app/blog/[id]/page.tsx
  apps/landing/src/app/blog/page.tsx
  apps/landing/src/app/layout.tsx
  apps/landing/src/app/page.tsx
  apps/landing/src/components/blog/CommentForm.tsx
  apps/landing/src/components/blog/CommentList.tsx
  apps/landing/src/components/blog/CreatePostButton.tsx
  apps/landing/src/components/blog/PostCard.tsx
  apps/landing/src/components/blog/PostDetail.tsx
  apps/landing/src/components/blog/PostList.tsx
  apps/landing/src/components/layout/Navbar.tsx
  apps/landing/src/components/sections/Contact.tsx
  apps/landing/src/components/sections/Introduction.tsx
  apps/landing/src/components/sections/Projects.tsx
  apps/landing/src/components/sections/TechStack.tsx
  apps/landing/src/components/sections/WorkExperience.tsx
  apps/landing/src/components/ui/LoadingSpinner.tsx
  apps/landing/src/lib/prisma.ts
  apps/landing/src/types/blog.ts
Labels: type: apps

fix(landing): revamp app
  apps/landing/package.json
  apps/landing/src/lib/prisma.ts
  apps/landing/src/types/blog.ts
Labels: type: apps

fix(landing): next config resolve alias
  apps/landing/next.config.ts
  apps/landing/package.json
Labels: type: apps

fix(landing): fix lib prisma define prisma client
  apps/landing/src/lib/prisma.ts
Labels: type: apps

fix(landing): prisma dependencies
  .npmrc
  apps/landing/package.json
  pnpm-lock.yaml
Labels: type: apps

fix(prisma): move to package core
  apps/landing/package.json
  apps/landing/prisma/schema.prisma
  apps/landing/src/types/blog.ts
  packages/core/src/domain/entities/.gitkeep
  packages/core/src/domain/entities/index.ts
  packages/core/src/domain/repositories/.gitkeep
  packages/core/src/domain/repositories/index.ts
  packages/core/src/domain/usecases/.gitkeep
  packages/core/src/domain/usecases/index.ts
  packages/core/src/index.ts
  packages/core/src/prisma/client/default.d.ts
  packages/core/src/prisma/client/default.js
  packages/core/src/prisma/client/edge.d.ts
  packages/core/src/prisma/client/edge.js
  packages/core/src/prisma/client/index-browser.js
  packages/core/src/prisma/client/index.d.ts
  packages/core/src/prisma/client/index.js
  packages/core/src/prisma/client/package.json
  packages/core/src/prisma/client/runtime/edge-esm.js
  packages/core/src/prisma/client/runtime/edge.js
  packages/core/src/prisma/client/runtime/index-browser.d.ts
  packages/core/src/prisma/client/runtime/index-browser.js
  packages/core/src/prisma/client/runtime/library.d.ts
  packages/core/src/prisma/client/runtime/library.js
  packages/core/src/prisma/client/runtime/react-native.js
  packages/core/src/prisma/client/runtime/wasm.js
  packages/core/src/prisma/client/schema.prisma
  packages/core/src/prisma/client/wasm.d.ts
  packages/core/src/prisma/client/wasm.js
Labels: type: packages, type: apps

fix(prisma): move to package core
  apps/landing/eslint.config.mjs
  apps/landing/next.config.ts
  apps/landing/package.json
  apps/landing/src/types/blog.ts
  apps/landing/tsconfig.json
  packages/core/package.json
  packages/core/src/index.ts
  pnpm-lock.yaml
Labels: type: packages, type: apps

chore(path): test import
  apps/landing/src/types/blog.ts
  apps/landing/tsconfig.json
Labels: type: apps

chore(path): test import
  apps/landing/next.config.ts
  apps/landing/src/types/blog.ts
  apps/landing/tsconfig.json
Labels: type: apps

chore(path): test import
  apps/landing/src/app/layout.tsx
Labels: type: apps

chore(path): test import
  apps/landing/src/app/layout.tsx
  apps/landing/tsconfig.json
Labels: type: apps

chore(path): test import
  apps/landing/src/app/layout.tsx
  apps/landing/tsconfig.json
Labels: type: apps

chore(path): test import
  .dockerignore
  apps/landing/Dockerfile
  apps/landing/next.config.ts
  apps/landing/package.json
  apps/landing/prisma/schema.prisma
  apps/landing/src/app/layout.tsx
  apps/landing/src/types/blog.ts
  apps/landing/tsconfig.json
  docker-compose.yml
  package.json
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/src/prisma/client/default.d.ts
  packages/core/src/prisma/client/default.js
  packages/core/src/prisma/client/edge.d.ts
  packages/core/src/prisma/client/edge.js
  packages/core/src/prisma/client/index-browser.js
  packages/core/src/prisma/client/index.d.ts
  packages/core/src/prisma/client/index.js
  packages/core/src/prisma/client/package.json
  packages/core/src/prisma/client/runtime/edge-esm.js
  packages/core/src/prisma/client/runtime/edge.js
  packages/core/src/prisma/client/runtime/index-browser.d.ts
  packages/core/src/prisma/client/runtime/index-browser.js
  packages/core/src/prisma/client/runtime/library.d.ts
  packages/core/src/prisma/client/runtime/library.js
  packages/core/src/prisma/client/runtime/react-native.js
  packages/core/src/prisma/client/runtime/wasm.js
  packages/core/src/prisma/client/schema.prisma
  packages/core/src/prisma/client/wasm.d.ts
  packages/core/src/prisma/client/wasm.js
  pnpm-lock.yaml
Labels: type: packages, type: apps

fix(core): package core
  packages/core/package.json
  pnpm-lock.yaml
  turbo.json
Labels: type: packages

fix(core): package core
  tsconfig.json
Labels: none

fix(core): package core
  packages/core/package.json
  packages/core/tsup.config.ts
  tsconfig.json
  turbo.json
Labels: type: packages

fix(core): package core
  pnpm-lock.yaml
Labels: none

fix(core): package core
  apps/landing/next.config.ts
Labels: type: apps

fix: update package manager pnpm approve builds
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: none

fix: revamp packages
  apps/portfolio/.env.example
  apps/portfolio/.gitignore
  package.json
  packages/utils/tsup.config.ts
  pnpm-lock.yaml
Labels: type: packages, type: apps

fix(landing): webhook clerk
  apps/portfolio/app/api/webhooks/clerk/route.ts
  apps/portfolio/next.config.ts
Labels: type: apps

fix(landing): webhook clerk
  apps/portfolio/app/api/webhooks/clerk/route.ts
Labels: type: apps

fix(landing): webhook clerk
  apps/portfolio/lib/prisma.ts
  apps/portfolio/package.json
  pnpm-lock.yaml
Labels: type: apps

fix(landing): webhook clerk
  apps/portfolio/lib/prisma.ts
Labels: type: apps

fix(landing): prisma directurl
  apps/portfolio/prisma/schema.prisma
Labels: type: apps

fix(landing): prisma client
  apps/portfolio/lib/prisma.ts
  apps/portfolio/prisma/schema.prisma
Labels: type: apps

fix(landing): prisma client
  apps/portfolio/lib/prisma.ts
Labels: type: apps

fix: prisma global client config
  apps/portfolio/app/api/webhooks/clerk/route.ts
  apps/portfolio/lib/prisma.ts
Labels: type: apps

.github/labeler.yml:

---
# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

'type: documentation':
  - changed-files:
      - any-glob-to-any-file: [.github/*, ./*.md]

'type: maintenance':
  - changed-files:
      - any-glob-to-any-file: .github/**/*

'type: packages':
  - changed-files:
      - any-glob-to-any-file: [./packages/**]

'type: apps':
  - changed-files:
      - any-glob-to-any-file: [./apps/**]
